## Multinomial Naive Bayes (Number of Ingredients by Cuisine Types)

This notebook requires:
* trainEngineered.csv

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [ ]:
finalDF = pd.read_csv('trainEngineered.csv')
finalDF

,greek,southern_us,filipino,indian,jamaican,spanish,italian,mexican,chinese,british,...,cajun_creole,brazilian,french,japanese,irish,korean,moroccan,russian,general,cuisine
0,6,1,0,2,0,0,6,7,1,0,...,1,0,3,0,0,0,1,0,8,greek
1,0,5,0,1,3,0,2,1,1,2,...,2,0,1,1,1,0,0,0,14,southern_us
2,0,0,1,2,0,0,1,3,1,0,...,1,0,2,1,0,1,0,0,18,filipino
3,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,6,indian
4,1,3,0,14,2,2,3,5,5,1,...,3,1,1,6,0,1,3,0,22,indian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39769,0,3,0,3,1,0,4,1,1,2,...,1,0,2,1,4,1,0,0,16,irish
39770,0,1,0,1,1,1,10,2,3,0,...,1,0,0,0,0,1,0,0,2,italian
39771,1,3,1,3,2,2,2,1,0,4,...,3,0,4,0,2,0,2,1,14,irish
39772,2,7,2,7,3,1,6,7,18,2,...,3,1,2,7,2,4,2,1,16,chinese
39773,2,3,1,3,0,2,5,7,1,0,...,1,1,1,1,0,0,1,0,16,mexican

### Split into Train and Test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(finalDF.drop(['cuisine'], axis = 1), 
                                                    finalDF['cuisine'], 
                                                    train_size = 0.8, 
                                                    random_state = 5)

## Multinomial Naive Bayes

In [ ]:
nb_model = MultinomialNB()

In [ ]:
nb_model.fit(X_train, y_train)

MultinomialNB()

In [ ]:
print("Score: ", nb_model.score(X_train, y_train))

Score:  0.6866652000377134

In [ ]:
print(f'Accuracy: {nb_model.score(X_test, y_test)}')

Accuracy: 0.6882463859208046

We can see that Multinomial Naive Bayes performs even worse than that of random forest, gradient boosting, and support vector machine.